# add files as necessary
# lines starting with # are comments

# Ignore directories
bin/
.idea/
target/

# Ignore files
*.oar
.directory
*.iml
*.class
*.orig
# Package Files
*.zip
*.war
*.ear
*.gz

#Latex specific files
*.aux
*.log
*.out
 
#IDE stuff
*.iml
.classpath
.project
.settings/

